<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ssafit.model.dao.BadgeDao">


    <select id="selectAllBadges">
        SELECT *
        FROM badges
    </select>


    <select id="selectUserBadges">
        SELECT b.*, ub.earned_at, ub.is_represented
        FROM badges b
                 JOIN user_badges ub ON b.badge_id = ub.badge_id
        WHERE ub.user_id = #{userId}
    </select>


    <select id="isUserHasBadge" resultType="boolean">
        SELECT EXISTS (SELECT 1
                       FROM user_badges
                       WHERE user_id = #{userId}
                         AND badge_id = #{badgeId})
    </select>


    <insert id="insertUserBadge">
        INSERT INTO user_badges (user_id, badge_id, earned_at, is_represented)
        VALUES (#{userId}, #{badgeId}, CURRENT_TIMESTAMP, FALSE)
    </insert>


    <update id="resetUserRepresentedBadges">
        UPDATE user_badges
        SET is_represented = FALSE
        WHERE user_id = #{userId}
    </update>

    <update id="updateUserBadgeRepresented">
        UPDATE user_badges
        SET is_represented = #{isRepresented}
        WHERE user_id = #{userId}
          AND badge_id = #{badgeId}
    </update>


    <select id="selectRecentlyAwardedBadges" >
        SELECT b.*, ub.earned_at, ub.is_represented
        FROM badges b
                 JOIN user_badges ub ON b.badge_id = ub.badge_id
        WHERE ub.user_id = #{userId}
          AND ub.earned_at >= NOW() - INTERVAL #{minutesAgo} MINUTE
        ORDER BY ub.earned_at DESC
    </select>
</mapper>