<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ssafit.model.dao.UserDao">

<!--    &lt;!&ndash; Result mapping &ndash;&gt;-->
<!--    <resultMap id="UserResultMap" type="User">-->
<!--        <id property="id" column="id" />-->
<!--        <result property="userName" column="userName" />-->
<!--        <result property="password" column="password" />-->
<!--        <result property="enabled" column="enabled" />-->
<!--    </resultMap>-->

    <!-- userName으로 user조회 -->
    <select id="selectByUsername" resultType="User">
        SELECT *
        FROM users
        WHERE username = #{userName}
    </select>

    <!-- userName의 존재 여부 확인 -->
    <select id="checkExistsByUsername" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM users
        WHERE username = #{userName}
    </select>

    <!-- user 등록 -->
    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="userId" keyColumn="user_id">
        INSERT INTO users (username, password, nickname, email)
        VALUES (#{userName}, #{password}, #{nickname}, #{email})
    </insert>

    <!-- user 업데이트 -->
    <update id="updateUser" parameterType="User">
        UPDATE users
        SET password = #{password}, enabled = #{enabled}
        WHERE username = #{userName}
    </update>

    <!-- userName으로 user삭제 -->
    <delete id="deleteByUsername">
        DELETE FROM users
        WHERE username = #{userName}
    </delete>

    <select id="selectAllUsers">
        SELECT *
        FROM users;
    </select>
</mapper>